# frozen_string_literal: true

after :admins do
  puts 'Seeding <%= file_name.capitalize %>'

  250.times do |i|
    content = +''

    Random.rand(1..6).times do
      content << "#{Faker::Lorem.paragraph(random_sentences_to_add: 15)}\n"
    end

    attrs = {
      content: content
    }

    seed <%= file_name.singularize.capitalize %>, { title: "<%= file_name.capitalize %> #{i + 1}" }, attrs
  end

  puts
end
