# frozen_string_literal: true

class <%= file_name.singularize.capitalize %> < ApplicationRecord
  validates :title, presence: true
  validates :content, presence: true

  scope :search_by, (lambda { |query|
    where(
      '<%= file_name %>.title ILIKE ? OR '<%= file_name %>.content ILIKE ?',
      "%#{query}%",
      "%#{query}%"
    )
  })
end
