/ frozen_string_literal: true

- breadcrumb :edit, @article, @article_presenter

h1 = t('headers.edit', item: @article_presenter.title)

= render Views::Admin::Articles::Form::Component.new item: @article
