/ frozen_string_literal: true

ruby:
  breadcrumb :item, @article, @article_presenter

  def action_buttons
    [
      edit_button(@article_presenter),
      destroy_button(@article_presenter)
    ]
  end

  def details
    %i(id title content)
  end

= render Headers::HeaderComponent.new header: header(@article_presenter),
  main_header: true,
  item: @article,
  action_buttons:

= render Elements::Card::Component.new item: @article,
  item_presenter: @article_presenter,
  details:
