/ frozen_string_literal: true

ruby:
  breadcrumb :item, @article, @article_presenter

  def details
    %i(id title content)
  end

= render Headers::HeaderComponent.new(header: header(@article_presenter),
  main_header: true,
  item: @article,
  header_buttons: action_buttons(@article))

nav class="nav nav-tabs nav-fill"
  = render Buttons::ButtonComponent.new(title: 'Overview',
    icon: 'magnifying-glass',
    button_class: 'nav-link active')
  = render Buttons::ButtonComponent.new(title: t('models.reviews.more'),
    icon: 'eye',
    path: admin_article_reviews_path(@article),
    button_class: 'nav-link')

= render Headers::HeaderComponent.new(header: overview_header,
  main_header: false,
  item: @article)

= render Cards::CardComponent.new(item: @article,
  item_presenter: @article_presenter,
  details:)
