/ frozen_string_literal: true

ruby:
  breadcrumb :item, @review, @review_presenter

  def details
    %i(id title article_title content)
  end

= render Headers::HeaderComponent.new(header: header(@review_presenter),
  main_header: true,
  item: @review,
  header_buttons: action_buttons(@review))

= render Cards::CardComponent.new(item: @review,
  item_presenter: @review_presenter,
  details:)
