/ frozen_string_literal: true

= render Headers::HeaderComponent.new header: header,
  main_header: true,
  search_query: search_query,
  pagy: pagy,
  action_buttons: [new_button]

= render Tables::TableComponent.new collection: users_data, thead: thead

= render Footers::FooterComponent.new left_dropdown: left_dropdown(pagy),
  pagination: pagy
