/ frozen_string_literal: true

= render Elements::Header::Component.new header: header,
  main_header: true,
  search_query: search_query,
  pagy: pagy,
  action_buttons: [:new_button]

= render Elements::Table::Component.new items: items,
  search_query: search_query,
  tbody: tbody,
  thead: thead,
  buttons: action_buttons

= render Elements::Footer::Component.new pagination: pagy,
  left_dropdown: left_dropdown(pagy)
