/ frozen_string_literal: true

= render Elements::Header::Component.new header: header,
  main_header: true,
  search_query: search_query,
  pagy: pagy,
  action_buttons: [new_button]

= render Tables::TableComponent.new collection: articles_data, thead: thead

= render Elements::Footer::Component.new left_dropdown: left_dropdown(pagy),
  pagination: pagy
