/ frozen_string_literal: true

ruby:
  breadcrumb :items, :users

  def thead
    [
      {
        cells: [
          t('tables.headings.id'),
          search_icon(t('tables.headings.name')),
          search_icon(t('tables.headings.email')),
          t('models.roles.one')
        ]
      }
    ]
  end

  def collection
    index_data(
      @users,
      :id,
      :highlight_full_name,
      :highlight_email,
      :user_role
    )
  end

= render Headers::HeaderComponent.new(header: index_header(:users),
  main_header: true,
  search_query: @search_query,
  pagy: @pagy,
  action_buttons: [new_button(:users)])

= render Tables::TableComponent.new(collection:, thead:)

= render Footers::FooterComponent.new(left_dropdown: per_page_button(@pagy),
  pagination: @pagy)
